body {
    background:url('images/stripes.png'), url('images/background.jpg');
    background-color:#525a6a;
    background-repeat:repeat-x, no-repeat;
    background-size:auto, cover;
}
section {
    margin: 250px 0 0 80px;
}
hr {
	border-color: #fd6e6e;
	width: 3%;
	margin: 0 0 0 0;
}
p {
color: #fff;
font-family: verdana, sans-serif;
font-size: 20px;
}
